#training-plan-main {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
#exercise-list-list {
  margin-right: auto;
  width: 100%;
  margin-bottom: 2rem;
}

#exercise-list-item {
  margin-top: 2rem;
  list-style-type: none;
  width: 80%;
}
#exercise-card {
  display: grid;
  grid-template-columns: 70fr 30fr;
  align-items: center;
}

#exercise-name {
  font-size: 1.4rem;
  font-weight: 600;
}
#exercise-text {
  font-size: 1rem;
  color: #666;
}
#exercise-description {
  font-size: 0.8rem;
  width: 80%;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
  gap: 2rem;
}

#btn {
  background-color: #636ae8ff;
  color: #fff;
  border: none;
  font-weight: 500;
  border-radius: 9px;
  padding: 0.5rem 2rem;
}
